In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [9]:
data_frame=pd.read_csv("train.txt", sep=";", header=None, names=["text", "Emotions"])
data_frame.head()

                                                text Emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [10]:
data_frame.isnull()

        text  Emotions
0      False     False
1      False     False
2      False     False
3      False     False
4      False     False
...      ...       ...
15995  False     False
15996  False     False
15997  False     False
15998  False     False
15999  False     False

[16000 rows x 2 columns]

In [11]:
data_frame.isnull().sum()

text        0
Emotions    0
dtype: int64

In [12]:
# ---------------------------->>>>>>>>>>>> 
# 
# now let find the number of unique values in the data_frame in the Emotions column


#----------------------------------------->>>>>>>>>>>>>
# let say converting the Emotions column to numbers or let say converting the output prediction features into the  numeric values  in the form of the dictionary
# with values like
# (
#     0,1,2,3,4,5....
# )


Uniques_emotion_array = data_frame['Emotions'].unique()
print(Uniques_emotion_array)
print("\n")

emotion_number = {

}

i = 0
for emotion in Uniques_emotion_array:
    emotion_number[emotion] = i
    i += 1
    data_frame['emotion'] = data_frame['Emotions'].map(emotion_number)

['sadness' 'anger' 'love' 'surprise' 'fear' 'joy']

In [13]:
    data_frame

                                                    text Emotions  emotion
0                                i didnt feel humiliated  sadness        0
1      i can go from feeling so hopeless to so damned...  sadness        0
2       im grabbing a minute to post i feel greedy wrong    anger        1
3      i am ever feeling nostalgic about the fireplac...     love        2
4                                   i am feeling grouchy    anger        1
...                                                  ...      ...      ...
15995  i just had a very brief time in the beanbag an...  sadness        0
15996  i am now turning and i feel pathetic that i am...  sadness        0
15997                     i feel strong and good overall      joy        5
15998  i feel like this was such a rude comment and i...    anger        1
15999  i know a lot but i feel so stupid because i ca...  sadness        0

[16000 rows x 3 columns]

In [14]:
data_frame['text']=df

NameError: name 'df' is not defined

first step of the NLP

-->Converting the all text into the lowwercase

In [ ]:
# two method are used for this 
# data_frame['text']=data_frame['text'].str.lower()
data_frame['text']=data_frame['text'].apply(lambda X:X.lower)

In [ ]:
data_frame

                                                    text Emotions  emotion
0                                i didnt feel humiliated  sadness        0
1      i can go from feeling so hopeless to so damned...  sadness        0
2       im grabbing a minute to post i feel greedy wrong    anger        1
3      i am ever feeling nostalgic about the fireplac...     love        2
4                                   i am feeling grouchy    anger        1
...                                                  ...      ...      ...
15995  i just had a very brief time in the beanbag an...  sadness        0
15996  i am now turning and i feel pathetic that i am...  sadness        0
15997                     i feel strong and good overall      joy        5
15998  i feel like this was such a rude comment and i...    anger        1
15999  i know a lot but i feel so stupid because i ca...  sadness        0

[16000 rows x 3 columns]