In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import warnings
warnings.filterwarnings("ignore")

In [2]:
data_frame=pd.read_csv("train.txt", sep=";", header=None, names=["text", "Emotions"])
data_frame.head()

                                                text Emotions
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [3]:
data_frame.isnull()

        text  Emotions
0      False     False
1      False     False
2      False     False
3      False     False
4      False     False
...      ...       ...
15995  False     False
15996  False     False
15997  False     False
15998  False     False
15999  False     False

[16000 rows x 2 columns]

In [4]:
data_frame.isnull().sum()

text        0
Emotions    0
dtype: int64

In [5]:
# ---------------------------->>>>>>>>>>>> 
# 
# now let find the number of unique values in the data_frame in the Emotions column


#----------------------------------------->>>>>>>>>>>>>
# let say converting the Emotions column to numbers or let say converting the output prediction features into the  numeric values  in the form of the dictionary
# with values like
# (
#     0,1,2,3,4,5....
# )


Uniques_emotion_array = data_frame['Emotions'].unique()
print(Uniques_emotion_array)
print("\n")

emotion_number = {

}

i = 0
for emotion in Uniques_emotion_array:
    emotion_number[emotion] = i
    i += 1
    data_frame['emotion'] = data_frame['Emotions'].map(emotion_number)

['sadness' 'anger' 'love' 'surprise' 'fear' 'joy']

In [6]:
    data_frame

                                                    text Emotions  emotion
0                                i didnt feel humiliated  sadness        0
1      i can go from feeling so hopeless to so damned...  sadness        0
2       im grabbing a minute to post i feel greedy wrong    anger        1
3      i am ever feeling nostalgic about the fireplac...     love        2
4                                   i am feeling grouchy    anger        1
...                                                  ...      ...      ...
15995  i just had a very brief time in the beanbag an...  sadness        0
15996  i am now turning and i feel pathetic that i am...  sadness        0
15997                     i feel strong and good overall      joy        5
15998  i feel like this was such a rude comment and i...    anger        1
15999  i know a lot but i feel so stupid because i ca...  sadness        0

[16000 rows x 3 columns]

In [7]:
data_frame

                                                    text Emotions  emotion
0                                i didnt feel humiliated  sadness        0
1      i can go from feeling so hopeless to so damned...  sadness        0
2       im grabbing a minute to post i feel greedy wrong    anger        1
3      i am ever feeling nostalgic about the fireplac...     love        2
4                                   i am feeling grouchy    anger        1
...                                                  ...      ...      ...
15995  i just had a very brief time in the beanbag an...  sadness        0
15996  i am now turning and i feel pathetic that i am...  sadness        0
15997                     i feel strong and good overall      joy        5
15998  i feel like this was such a rude comment and i...    anger        1
15999  i know a lot but i feel so stupid because i ca...  sadness        0

[16000 rows x 3 columns]

first step of the NLP

-->Converting the all text into the lowwercase

In [8]:
# two method are used for this 
# data_frame['text']=data_frame['text'].str.lower()
data_frame['text']=data_frame['text'].apply(lambda X:X.lower())

                           SECOND STEP OF NLP

                           --> REMOVE THE PUNCTUATION MARKS

In [9]:
 def  remove_puncutation(text):
     return text.translate(str.maketrans('', '',string.punctuation))

In [10]:
data_frame['text'].apply(remove_puncutation)

0                                  i didnt feel humiliated
1        i can go from feeling so hopeless to so damned...
2         im grabbing a minute to post i feel greedy wrong
3        i am ever feeling nostalgic about the fireplac...
4                                     i am feeling grouchy
                               ...
15995    i just had a very brief time in the beanbag an...
15996    i am now turning and i feel pathetic that i am...
15997                       i feel strong and good overall
15998    i feel like this was such a rude comment and i...
15999    i know a lot but i feel so stupid because i ca...
Name: text, Length: 16000, dtype: object

In [11]:
def remove_number(text):
    new = ''
    for i in text:
        if not i.isdigit():
            new += i
    return new

data_frame['text'] = data_frame['text'].apply(remove_number)

In [12]:
data_frame

                                                    text Emotions  emotion
0                                i didnt feel humiliated  sadness        0
1      i can go from feeling so hopeless to so damned...  sadness        0
2       im grabbing a minute to post i feel greedy wrong    anger        1
3      i am ever feeling nostalgic about the fireplac...     love        2
4                                   i am feeling grouchy    anger        1
...                                                  ...      ...      ...
15995  i just had a very brief time in the beanbag an...  sadness        0
15996  i am now turning and i feel pathetic that i am...  sadness        0
15997                     i feel strong and good overall      joy        5
15998  i feel like this was such a rude comment and i...    anger        1
15999  i know a lot but i feel so stupid because i ca...  sadness        0

[16000 rows x 3 columns]

apply the next function for the links removal and ursl

remove the html tags from the text

remove the emojies

In [13]:
def remove_emojies(text):
    new =''
    for char in text:
        if char.isascii():
            new += char
    return new

data_frame['clean_text'] = data_frame['text'].apply(remove_emojies)

In [14]:
data_frame['clean_text']

0                                  i didnt feel humiliated
1        i can go from feeling so hopeless to so damned...
2         im grabbing a minute to post i feel greedy wrong
3        i am ever feeling nostalgic about the fireplac...
4                                     i am feeling grouchy
                               ...
15995    i just had a very brief time in the beanbag an...
15996    i am now turning and i feel pathetic that i am...
15997                       i feel strong and good overall
15998    i feel like this was such a rude comment and i...
15999    i know a lot but i feel so stupid because i ca...
Name: clean_text, Length: 16000, dtype: object

now let remove the stop words
famous librarbires and text preprocessing --->NLTK (natural language tool kit) and other spacy

<!-- remove the stopwords -->

import nltk

In [15]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [16]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
stop_words=set(stopwords.words('english'))
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 "he's",
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 "i'll",
 "i'm",
 "i've",
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 "we've",
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [18]:
len(stop_words)

198

In [19]:
data_frame.loc[1]['text']

'i can go from feeling so hopeless to so damned hopeful just from being around someone who cares and is awake'

In [20]:
from nltk.tokenize import word_tokenize

def removestopwords(text):
    words = word_tokenize(text)
    cleaned_text = []
    
    for i in words:
        if i.lower() not in stop_words:   # ðŸ‘ˆ key fix
            cleaned_text.append(i)
            
    return ' '.join(cleaned_text)

In [21]:
data_frame['text'] = data_frame['text'].apply(removestopwords)

data_frame.loc[1]['text']

'go feeling hopeless damned hopeful around someone cares awake'