In [108]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [109]:
df=pd.read_csv("qoute_dataset.csv")

In [110]:
df.head()

                                               quote           Author
0  “The world as we have created it is a process ...  Albert Einstein
1  “It is our choices, Harry, that show what we t...     J.K. Rowling
2  “There are only two ways to live your life. On...  Albert Einstein
3  “The person, be it gentleman or lady, who has ...      Jane Austen
4  “Imperfection is beauty, madness is genius and...   Marilyn Monroe

In [111]:
df['quote'][0]

'“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”'

In [112]:
df.columns

Index(['quote', 'Author'], dtype='object')

In [113]:
df.shape

(3038, 2)

In [114]:
Quotes=df['quote']
Quotes.head()

0    “The world as we have created it is a process ...
1    “It is our choices, Harry, that show what we t...
2    “There are only two ways to live your life. On...
3    “The person, be it gentleman or lady, who has ...
4    “Imperfection is beauty, madness is genius and...
Name: quote, dtype: object

In [115]:
Quotes=Quotes.str.lower()

In [116]:
import string
Translator=str.maketrans('','',string.punctuation)
Quotes.head()

0    “the world as we have created it is a process ...
1    “it is our choices, harry, that show what we t...
2    “there are only two ways to live your life. on...
3    “the person, be it gentleman or lady, who has ...
4    “imperfection is beauty, madness is genius and...
Name: quote, dtype: object

<!-- do tokenization using tokenizer -->

# add and use the tokenizer

In [117]:
from tensorflow.keras.preprocessing.text import Tokenizer

# do and sett the Vocab size beacuse of the use the we dont have the GPU to Train the dataset for large datasets

In [118]:
vocab_size=10000
tokinzer=Tokenizer(num_words=vocab_size)
tokinzer.fit_on_texts(Quotes)

In [119]:
Word_index=tokinzer.word_index
print(len(Word_index))
list(Word_index.items())[:10]

8213

[('the', 1),
 ('you', 2),
 ('to', 3),
 ('and', 4),
 ('a', 5),
 ('i', 6),
 ('is', 7),
 ('of', 8),
 ('that', 9),
 ('it', 10)]